@import url('https://fonts.googleapis.com/css2?family=Arima:wght@400;500&family=Open+Sans&family=Raleway:ital,wght@0,600;0,800;1,400&display=swap');
/*  font-family: 'Arima', cursive;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Raleway', sans-serif;*/

    // Variables
    $clr-primario:#E8DED2;
    $clr-segundario:#A3D2CA;
    $clr-terciario:#5EAAA8;
    $clr-cuarto:#056676;
    $txt-titulos:'Arima', cursive;
    $txt-texto:'Raleway', sans-serif;
    $txt-textoN:'Open Sans', sans-serif;
    